import os

from .defaults import *

####################################################
# Database settings (default: sqlite3)             #
####################################################
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    },
}

####################################################
# Allowed hosts and security                       #
####################################################

ALLOWED_HOSTS = ['*']  # By default in development we allow any host

SECRET_KEY = 'v*&#e(xgw-fs1l#e%^nm-gqju(%hx@my@!9w^e08xyd(31cv90'

# Remove password validation for development.
AUTH_PASSWORD_VALIDATORS = []

####################################################
# Internationalization                             #
####################################################

LANGUAGE_CODE = 'en-us'
TIME_ZONE = 'UTC'


####################################################
# Email (default: deactivated)                     #
####################################################

# EMAIL_HOST = 'localhost'
# EMAIL_PORT = 25
# EMAIL_HOST_USER = ''
# EMAIL_HOST_PASSWORD = ''
# DEFAULT_FROM_EMAIL = 'noreply@tipexchange.vanish.co.uk'
# EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
# EMAIL_USE_TLS = True


####################################################
# Caching (default: local cache)                   #
####################################################

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
        'LOCATION': 'unique-snowflake'
    }
}

####################################################
# Alerts                                           #
####################################################

ADMINS = (
    ('Admin', 'admin@example.com'),
)

MANAGERS = ADMINS


####################################################
# Fixtures (default: none)                         #
# Use this if you want to put test data in the DB  #
# on syncdb time                                   #
####################################################

FIXTURE_DIRS = (
    (BASE_DIR + '/fixtures/'),
)

####################################################
# Extra applications. Put here extra apps that are #
# only required in development                     #
####################################################

INSTALLED_APPS += (
    # 'sampledatahelper',
)

##########################################################
# Sample data helper, this will fill the db              #
# Please take a look to sampledatahelper docs            #
# at https://github.com/kaleidos/django-sampledatahelper #
##########################################################

# SAMPLEDATAHELPER_SEED = 21341245334214213498921347890

# SAMPLEDATAHELPER_MODELS = [
#     {'model': 'application.ModelName', 'number': 5, },
#     {
#         'model': 'application.ModelName',
#         'number': 1,
#         'fields_overwrite': [
#             ('fieldname', 'Value'),
#             ('fieldname', 'Value'),
#             ('fieldname', 'Value'),
#             ('fieldname', 'Value'),
#         ]
#     },
# ]

#######################################################
#
# Debug!
#
#######################################################

DEBUG_DB_ENGINE = DATABASES.get('default', 'None').get('ENGINE', 'None')
DEBUG_DB_NAME = DATABASES.get('default', 'None').get('NAME', 'None')

print("""
*** DEBUG ACTIVE ***

###############################################################################
# PLEASE NOTE THAT IN DEVELOPMENT MODE THERE ARE NO PASSWORD VALIDATORS
# AND ALL HOSTS ARE ALLOWED
###############################################################################

* VERSION: {}
* DB_ENGINE: {}
* DB: {}
* TEMPLATE_PATHS: {}
* STATIC_ROOT: {}
* MEDIA_ROOT: {}
* BASE_DIR: {}
""".format(VERSION, DEBUG_DB_ENGINE, DEBUG_DB_NAME, TEMPLATES[0].get('DIRS', 'None'),
           STATIC_ROOT, MEDIA_ROOT, BASE_DIR))
